@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

h1.titre {
	text-align: center;
	margin-top: 40px;
}

div.lien-box {
	text-align: center;
}

a#lien-quizlet {
	margin-top: 100px;
	margin-left: 10px;
	padding: 10px;
	font-size: 20px;
	font-weight: 700;
	display: inline-block;
	text-decoration: none;
	color: #0000EE;
	border: 2px solid #0000EE;
	border-radius: 10px;
	transition: 0.3s;
}

a#lien-quizlet:hover {
	background: #0000EE;
	color: #fff;
}